// import IMPORTS

@use 'import/navbar';
@use 'import/base';
@use 'import/variables';

@use 'components/home/main' as main;
@use 'mobile/home/main' as mainMobile;
// FORUM PAGE IMPORTS

@use 'components/forum/main' as forum;
@use 'mobile/forum/main' as forumMobile;

// PROJECT PAGE IMPORTS

@use 'components/projects/main' as projects;
@use 'mobile/projects/main' as projectsMobile;

// error 404

@use 'components/notfound/main' as notfound;

// teotw page 

@use 'components/teotw/main' as teotw;

main {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
}