@use '../../import/responsive';


@include responsive.responsive() {
    .container-projects {
        .main-projects {
            .section-projects {
                .projects {
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    .project {
                        width: auto;
                    }
                }
            }
        }
    }
}