body{
    background-color: #232429;
}
#demetrius{
    font-size: 18px;
    color: white;
    padding-right: 0px;
    padding-left: 184px;
    margin-right: auto;
    margin-left: auto;
}
#gamingsetup{
    color: white;
    font-size: 15px;
    padding-right: 15px;
    padding-left: 186px;
    margin-right: auto;
    margin-left: auto;
}
#content{
    color: white;
    font-size: 15px;
    padding-right: 15px;
    padding-left: 195px;
    margin-right: auto;
    margin-left: auto;
}
#peripherals{
    color: white;
    font-size: 15px;
    padding-right: 15px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}
#brunaoamigao{
    color: white;
    padding-right: 15px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
}
#social{
    color: white;
    font-size: 15px;
    padding-right: 15px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
#redes{
    color: white;
    font-size: 15px;
    padding-right: 15px;
    padding-left: 18px;
    margin-right: auto;
    margin-left: auto;
}
