// $background: #2d2f39;
// $nav-background: #32333b;
// $footer-background: #32333b;
$border: .2px white solid;
$h1-font: 24px;
$h2-font: 18px;
$h3-font: 14px;
$h4-font: 12px;
$h5-font: 10px;
$h6-font: 8px;
$presentation-font-size: calc($h1-font + $h1-font); // 42px
// $font-color: rgb(252, 237, 237);